= render :partial => 'spree/shared/error_messages', :locals => { :target => @feature }
= f.input :name
= f.input :headline1
= f.input :headline2
= f.input :link
= f.input :active, :as => :boolean
= f.input :position

= f.semantic_fields_for :feature_images do |feature_image|
  - if feature_image.object.new_record?
    = feature_image.input :image, as: :file
