= render :partial => 'spree/shared/error_messages', :locals => { :target => @feature }
= f.input :name
/= f.input :ga_tag
= f.input :headline1
= f.input :headline2
/ = f.input :link_label
= f.input :link
= f.input :active, :as => :boolean
= f.input :position
= f.input :feature_images, :as => :file, :input_html => {:multiple => true}

